<!-- This html isinjected into the main page by $routeProvider, it is the only html template used -->
<md-content>
<md-toolbar class="md-medium-tall" layout="row">
<h2>Spotify and Github</h2>
<md-button ng-click="logout()">Logout</md-button>
</md-toolbar>
<md-content layout="row" flex layout-align="center">
	<md-list>
		<md-list-item class="md-2-line" ng-repeat="playlist in playlists">
		    <img ng-src="{{playlist.images[0].url}}" class="md-avatar" alt="{{playlist.name}}">
			<div class="md-list-item-text" layout="column">
				<h2>{{ playlist.name }}</h2>
			</div>
			<div>
				<div>
					<md-button ng-click="backupPlaylist(playlist)"> Back Up Playlist</md-button>
				</div>

				<div>
					<md-button type="submit" ng-click="showPrevious(playlist)"> Restore An Older Version</md-button>
				</div>
			</div>


            <div ng-show="reverting.show">
                <div ng-show="reverting.playlist.name === playlist.name">
                    <md-list-item id = "oldCommit" class="md-2-line" ng-repeat="commit in reverting.commits"> 
                        <div class="md-list-item-text" layout="column">
                            <h4>{{commit.date}}</h4>
                            <h4>{{commit.sha}} </h4>
                            <md-button type="submit" ng-click="restorePlaylist(reverting.playlist, commit.sha, commit.date)"> Restore This Version </md-button>
                        </div>
                    </md-list-item>
                </div>
            </div>


		</md-list-item>


	</md-list>

<br></br>


<div ng-show="backedUp">
	Successfully backed up {{backedUp}}!
</div>
</md-content>
</md-content>
