<!-- This html isinjected into the main page by $routeProvider, it is the only html template used -->
<md-content>
<md-toolbar class="md-medium-tall" layout="row">
    <h3>Spotify and Github</h3>
    <md-button ng-click="logout()">Logout</md-button>
</md-toolbar>

<div id="playlist-list" ng-style="flex: 1;">
    <md-list ng-cloak>
        <md-list-item id="playlists" class="md-3-line" ng-repeat="playlist in playlists">
            <pre layout="column">
                <md-button type="submit" class = "md-raised md-primary" ng-click="backupPlaylist(playlist)"> Back Up Playlist</md-button>
                <md-button type="submit" ng-click="showPrevious(playlist)"> Restore An Older Version</md-button>
            </pre>
            <div class="md-list-item-text" >
                <h3> {{playlist.name}} </h3>
                <p> {{playlist.id}} </p>
            </div>

        </md-list-item>
    </md-list>
</div>

    <br></br>

    <div ng-show="reverting.show">
        <div ng-show="reverting === playlist">
            Older versions of {{reverting.playlist.name}}
            <div id = "oldCommit" ng-repeat="commit in reverting.commits"> {{commit.sha}}, {{commit.date}}
            <button type="submit" ng-click="restorePlaylist(reverting.playlist, commit.sha, commit.date)"> Restore This Version </button>
            </div>
        </div>
    </div>


    <div ng-show="backedUp">
        Successfully backed up {{backedUp}}!
    </div>

</md-content>
